body{
    background-image: url('app.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#heart{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    margin-top: 2rem;
}
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.5rem;
    gap: 0px;
}
label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 1px;
    margin-left: 28%;
}
input[type="range"] {
    width: 45%;
    align-items: center;
    color: white;
    margin-left: 28%;
    accent-color: rgb(209, 10, 10);
    
}

.value{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 48%;
    
}

#result-continer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-right: 2.5%;
}


button{
    width: 6.5rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 20px;
    background-color: rgb(129, 139, 65);
    border-color: rgb(129, 139, 65);
}

.result{
    width: 50rem;
    height: 5rem;
    border-radius: 0px;
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
